<!doctype html>
<html>
	<head>
	<title>Webshop District01</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/png" href="images/logo.png">
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "6fb5f412-7815-4015-a814-6ed5a3c89fe3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
	</head>
	<body>
		<div class="container">
		<div class="logo"><a href="/"><img src="images/logo.png" alt=""></a></div>
	        
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right">
                        <li class="login"><a href="/login">Login</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            
			<div class="row">
				<div class="col-lg-6 product_detail_image">
				</div>
				<div class="col-lg-6 product_detail">
					<h3 class="product_detail_title"></h3>
					<p class="product_detail_price">&euro; </p>
					<p class="product_detail_description_title">Beschrijving:</p>
					<p class="product_detail_description"></p>
					
					<br><a href="" class="button_order">Bestel</a>
					
				</div>
			</div>
		</div>
		<footer>
		    <div class="footer-container">
		        
		        <div class="col-md-6 text-center">
		            <h3>Share this product</h3>
		            <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_tumblr_large' displayText='Tumblr'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
		        </div>
		        
		        
		        <div class="col-md-6 text-center newsletter">
                    <h3>Schrijf je in voor de nieuwsbrief</h3>
		            <form action="" class="newsletter-form">
		                <input type="text" class="newsletter-input" placeholder="Uw email-adres"><br>
		                <input type="submit" class="newsletter-button" value="Aanmelden!">
		            </form>
		        </div>
		        
		        <div class="clearfix"></div>
		        
            </div>
            
            <div class="copyright text-center">
                <p>&copy; Niels Meulders | Thomas More Mechelen</p>
            </div>
            
		</footer>
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			$(document).ready(function() {
				var socket = io();
                var id = GetURLParameter("id");
				socket.on('startMessages', function(products) {
					for(var i = 0; i < products.length; i++) {
						if (products[i]._id==id)
                            {
                                $('.product_detail_image').html('<img class="product_detail_image_img" src="' + products[i].image + '" alt="">');
                                $('.product_detail_title').html(products[i].title);
                                $('.product_detail_price').append(products[i].price);
                                $('.product_detail_description').html(products[i].description);
                                $('title').html(products[i].title + ' | District01');
                            }
                        
					}
				});
                
                $('.button_order').attr("href", '/order?productid='+GetURLParameter("id"));
                
                function GetURLParameter(sParam)
                {
                    var sPageURL = window.location.search.substring(1);
                    var sURLVariables = sPageURL.split('&');
                    for (var i = 0; i < sURLVariables.length; i++)
                    {
                        var sParameterName = sURLVariables[i].split('=');
                        if (sParameterName[0] == sParam)
                        {
                            return sParameterName[1];
                        }
                    }
                }
                
			});
		</script>
	</body>
</html>